//============================
//		Text aligin
//============================

// breackpoint
$breakpoint: (
	1: none,
	2: 768px,
	3: 992px,
	4: 1200px
);

// prefix setting
$prefix: (
	1: xs,
	2: sm,
	3: md,
	4: lg
);

// class name
$class-name: (
	1: center,
	2: left,
	3: right,
	4: justify
);

// style generation
@for $i from 1 through 4 {
	@if map-get($breakpoint, $i) == none {
		@for $j from 1 through 4 {
			.txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
				text-align: #{map-get($class-name, $j)}
			}
		}
	} @else {
		@media screen and(min-width: #{map-get($breakpoint, $i)}) {
			@for $j from 1 through 4 {
				.txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
					text-align: #{map-get($class-name, $j)}
				}
			}
		}
	}
}
