//===============================
//
// BASE VARIABLES
//
//===============================

//== Base Number
//
//##

$small:    5px;
$mid:      10px;
$large:    15px;
$xlarge:   25px;

//== Padding
//
//##

$base-padding:     $mid;

$small-padding:    $small;
$large-padding:    $large;
$xlarge-padding:   $xlarge;

//== Margin
//
//##

$base-margin:      $mid;

$small-margin:     $small;
$large-margin:     $large;
$xlarge-margin:    $xlarge;
