extends ../layouts/_default

block head
    include ../modules/meta/meta.pug

block body
    block header
        header 
            h1 All done!
    block main
        main
    block footer
        footer
