// scss-lint:disable all

//============================
// Common maps
//============================

// breackpoint
$breakpoint: (
    1: none,
    2: 768px,
    3: 992px,
    4: 1200px
);

// prefix setting
$prefix: (
    1: xs,
    2: sm,
    3: md,
    4: lg
);

//============================
// Text aligin
//============================

// class name
$class-name: (
    1: center,
    2: left,
    3: right,
    4: justify
);

// style generation
@for $i from 1 through 4 {
    @if map-get($breakpoint, $i) == none {
        @for $j from 1 through 4 {
            .txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
                text-align: #{map-get($class-name, $j)}
            }
        }
    } @else {
        @media screen and(min-width: #{map-get($breakpoint, $i)}) {
            @for $j from 1 through 4 {
                .txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
                    text-align: #{map-get($class-name, $j)}
                }
            }
        }
    }
}

//============================
// Flex
//============================

.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

//============================
// Flex justify
//============================

$flex-class-name: (
    1: center,
    2: between,
    3: around,
    4: end
);

$flex-argue: (
    1: center,
    2: space-between,
    3: space-around,
    4: flex-end
);

@for $i from 1 through 4 {
    @if map-get($breakpoint, $i) == none {
        @for $j from 1 through 4 {
            .justify-#{map-get($prefix, $i)}-#{map-get($flex-class-name, $j)} {
                justify-content: #{map-get($flex-argue, $j)}
            }
        }
    } @else {
        @media screen and (min-width: #{map-get($breakpoint, $i)}) {
            @for $j from 1 through 4 {
                .justify-#{map-get($prefix, $i)}-#{map-get($flex-class-name, $j)} {
                    justify-content: #{map-get($flex-argue, $j)}
                }
            }
        }
    }
}

//============================
// Flex align item
//============================

$items-class-name: (
    1: start,
    2: end,
    3: center,
    4: baseline
);

$items-argue: (
    1: flex-start,
    2: flex-end,
    3: center,
    4: baseline
);

@for $i from 1 through 4 {
    @if map-get($breakpoint, $i) == none {
        @for $j from 1 through 4 {
            .items-#{map-get($prefix, $i)}-#{map-get($items-class-name, $j)} {
                align-items: #{map-get($items-argue, $j)}
            }
        }
    } @else {
        @media screen and (min-width: #{map-get($breakpoint, $i)}) {
            @for $j from 1 through 4 {
                .items-#{map-get($prefix, $i)}-#{map-get($items-class-name, $j)} {
                    align-items: #{map-get($items-argue, $j)}
                }
            }
        }
    }
}

//============================
// Flex order
//============================

$order-position: (
    1: 1,
    2: 2,
    3: 3,
    4: 4
);

@for $i from 1 through 4 {
    @if map-get($breakpoint, $i) == none {
        @for $j from 1 through 4 {
            .order-#{map-get($prefix, $i)}-#{map-get($order-position, $j)} {
                order: #{map-get($order-position, $j)}
            }
        }
    } @else {
        @media screen and (min-width: #{map-get($breakpoint, $i)}) {
            @for $j from 1 through 4 {
                .order-#{map-get($prefix, $i)}-#{map-get($order-position, $j)} {
                    order: #{map-get($order-position, $j)}
                }
            }
        }
    }
}
