// scss-lint:disable all
//===============================
//
// BASE FONTS VARIABLES
//
//===============================

//=============== SETTING

$font-close: 'Segoe UI Symbol', 'DejaVu Sans', sans-serif;
$site-font: "Roboto", sans-serif;

html,
body {
    font-family: $site-font;
}
