doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        block favicon

        block title
            - var title = 'Start page'
        title #{title}

        block styles

        block js
    body
        main
            block sections

    block footer
        footer
