doctype html
html(lang="ru")

head
    include modules/meta.pug

body
    header(role="banner")
        include modules/header.pug

    main(role="main")

    footer(role="contentinfo")
        include modules/footer.pug
