<!DOCTYPE html>
<html lang="ru">
<head>
    //= modules/meta.html
</head>

<body>
    <header role="banner">
        //= modules/header.html
    </header>
    <main role="main">

    </main>
    <footer role="contentinfo">
        //= modules/footer.html
    </footer>
</body>

</html>
